<!--
  TODO:
  When you click on a link, the button becomes a mat-flat-button from a mat-button
-->
<div class="d-flex flex-column shadow h-100">
  <div class="mx-3 mt-3 mb-3 text-center">
    <h2>TwitchyBank</h2>
  </div>
  <div id="mainNav" class="mx-3 mb-5 d-flex flex-column">
    <button mat-flat-button color="primary" class="mb-2">
      <mat-icon>home</mat-icon>
      <span>Accounts</span>
    </button>
    <button mat-button color="primary" class="mb-2">
      <mat-icon>account_balance</mat-icon>
      <span>Bill Pay</span>
    </button>
    <button mat-button color="primary" class="mb-2">
      <mat-icon>payments</mat-icon>
      <span>Deposit Checks</span>
    </button>
  </div>
  <div id="secondaryNav" class="mx-3 d-flex flex-column">
    <button mat-button color="primary" class="mb-2">
      <mat-icon>notification_important</mat-icon>
      <span>Alerts</span>
    </button>
    <button mat-button color="primary" class="mb-2">
      <mat-icon>emoji_events</mat-icon>
      <span>Rewards</span>
    </button>
    <button mat-button color="primary" class="mb-2">
      <mat-icon>description</mat-icon>
      <span>Documents</span>
    </button>
    <button mat-button color="primary" class="mb-2">
      <mat-icon>support</mat-icon>
      <span>Help</span>
    </button>
  </div>
  <div class="flex-grow-1"></div>
  <div class="advertisement m-3 p-3">
    <div class="advertisement-title">
      <mat-icon color="primary">info</mat-icon>
      <span>Remember to follow!</span>
    </div>
    <div class="advertisement-body">
      Use your twitch prime
    </div>
    <div class="advertisement-link">
      <a href="https://twitch.tv/bgxarrow">BGxArrow!</a>
    </div>
  </div>
  <div id="profileAndSettings" class="mx-3 d-flex flex-column">
    <button mat-button color="primary" class="mb-2">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button color="primary" class="mb-2">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </div>
  <!-- Profile/Settings -->
</div>
